* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.container {
    background-color: rgba(137, 176, 223);
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.section {
    width: 40%;
}

input,
option {
    padding: 6px;
    border-style: none;
    border-bottom: 1px rgb(224, 224, 224) solid;
}

.one {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 20px 0 0 20px;
    height: 546px;
}

input[type="date"] {
    color: gray;
}

h2 {
    padding: 40px;
}

.one h2 {
    color: rgb(38, 84, 157);
}

.two h2 {
    color: #fff;
}

.section h2 {
    font-size: 32px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.row1 input {
    width: 45%;
}

.two {
    background-color: rgb(58, 58, 193);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0 20px 20px 0;
    height: 546px;
}

.two {
    color: #fff;
    margin-bottom: 100px;
}

.two input {
    background-color: rgb(58, 58, 193);
}

.two input::placeholder {
    color: #fff;
}

.two select {
    background-color: rgb(58, 58, 193);
    color: #fff;
}

#place {
    width: 45%;
}

select {
    border-style: none;
    border-bottom: 1px rgb(224, 224, 224) solid;
}

input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-top: 2.5px gray solid;
    border-left: 2.5px gray solid;
    border-right: 2.5px black solid;
    border-bottom: 2.5px black solid;
    max-width: 15vw;
    word-wrap: normal;
    margin-bottom: 40px;
    margin-top: 10px;
}